<section class="about">
  <div class="about_bio-image">
    <div class="about_bio">
      <h2 class="text-secondary">BIO</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        praesentium blanditiis optio reprehenderit laborum? Modi, fuga quos
        voluptas iste ratione magni corrupti officiis facilis eaque, possimus
        aut! Praesentium, alias cumque!
      </p>
    </div>
  </div>

  <div class="jobs">
    <div class="jobs_job">
      <h2 class="text-secondary">2017 - Current</h2>
      <h3>Google</h3>
      <h6>Full Stack Developer</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsum,
        quidem omnis voluptates accusantium perspiciatis iusto voluptatem rerum
        nam sit ut placeat numquam nobis, animi atque porro vel autem cum.
      </p>
    </div>
    <div class="jobs_job">
      <h2 class="text-secondary">2015 - 2017</h2>
      <h3>Google</h3>
      <h6>Full Stack Developer</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsum,
        quidem omnis voluptates accusantium perspiciatis iusto voluptatem rerum
        nam sit ut placeat numquam nobis, animi atque porro vel autem cum.
      </p>
    </div>
    <div class="jobs_job">
      <h2 class="text-secondary">2013 - 2015</h2>
      <h3>Google</h3>
      <h6>Full Stack Developer</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsum,
        quidem omnis voluptates accusantium perspiciatis iusto voluptatem rerum
        nam sit ut placeat numquam nobis, animi atque porro vel autem cum.
      </p>
    </div>
  </div>
</section>
