<section class="projects">
  <div class="projects_bio-image">
    <h1 class="text-secondary">My projects</h1>
  </div>
  <div class="projects_items">
    <div class="projects_item">
      <img src="../../assets/images/web-dev3.jpeg" alt="" />
      <div class="projects_btns">
        <a href="#!" class="projects_btn">
          <i class="fas fa-eye"></i> Preview
        </a>
        <a href="#!" class="projects_btn">
          <i class="fab fa-github"></i>GitHub
        </a>
      </div>
    </div>
    <div class="projects_item">
      <img src="../../assets/images/web-dev3.jpeg" alt="" />
      <div class="projects_btns">
        <a href="#!" class="projects_btn">
          <i class="fas fa-eye"></i> Preview
        </a>
        <a href="#!" class="projects_btn">
          <i class="fab fa-github"></i>GitHub
        </a>
      </div>
    </div>
    <div class="projects_item">
      <img src="../../assets/images/web-dev2.jpeg" alt="" />
      <div class="projects_btns">
        <a href="#!" class="projects_btn">
          <i class="fas fa-eye"></i> Preview
        </a>
        <a href="#!" class="projects_btn">
          <i class="fab fa-github"></i>GitHub
        </a>
      </div>
    </div>
    <div class="projects_item">
      <img src="../../assets/images/web-dev4.jpeg" alt="" />
      <div class="projects_btns">
        <a href="#!" class="projects_btn">
          <i class="fas fa-eye"></i> Preview
        </a>
        <a href="#!" class="projects_btn">
          <i class="fab fa-github"></i>GitHub
        </a>
      </div>
    </div>
  </div>
</section>
