<section class="contact">
  <h2>Contact me</h2>
  <div class="contact_list">
    <div class="contact_email">
      <i class="fas fa-envelope"></i>Email
      <div class="tex-secondary">email@email.com</div>
    </div>
    <div class="contact_phone">
      <i class="fas fa-mobile-alt"></i>Phone
      <div class="tex-secondary">+3800045966</div>
    </div>
    <div class="contact_address">
      <i class="fas fa-address-card"></i>Adrress
      <div class="tex-secondary">first street</div>
    </div>
  </div>
</section>
